.swd-md-2, .swd-md-3, .swd-md-4, .swd-md-5, .swd-md-6,
.swd-sm-4, .swd-sm-6,  
.swd-xs-6, .swd-xs-12 {
  position:relative;
  min-height:1px;
  padding-right:15px;
  padding-left:15px;
}
.swd-xs-6, .swd-xs-12 {
  float:left;
}
.swd-xs-12 {
  width:100%;
}
.swd-xs-6 {
  width:50%;
}
@media (min-width: 768px) {
  .swd-sm-4, .swd-sm-6 {
    float:left;
  }
  .swd-sm-6 {
    width: 50%;
  }
  .swd-sm-4 {
    width:33.33333333%;
  }
}
@media (min-width: 992px) {
  .swd-md-2, .swd-md-3, .swd-md-4, .swd-md-5, .swd-md-6 {
    float:left;
  }
  .swd-md-6 {
    width:50%;
  }
  .swd-md-5 {
    width:41.66666667%;
  }
  .swd-md-4 {
    width:33.33333333%;
  }
  .swd-md-3 {
    width:25%;
  }
  .swd-md-2 {
    width: 16.66666667%;
  }
}
.moregoods-row {
  margin-right: -15px;
  margin-left: -15px;
}
.moregoods-clear:before,
.moregoods-clear:after,
.moregoods-row:before,
.moregoods-row:after {
  display:table;
  content: " ";
}
.moregoods-clear:after,
.moregoods-row:after {
  clear:both;
}
.swdmoregoods .top-space {
  margin-top:26px;
  margin-bottom:26px;
}
.swdmoregoods .product-layout {
  margin-top:10px;
  margin-bottom:10px;
  padding:6px 15px;
}
.swdmoregoods .product-layout.swd-md-2 {
  padding:2px 6px;
}
.swdmoregoods .swd-md-2 .img-responsive {
  max-width: 90%;
}
@media (max-width: 992px) {
  .swdmoregoods .swd-md-2 .img-responsive {
    max-width: 98%;
  }
}
@media (max-width: 412px) {
  .swdmoregoods .swd-md-2 .img-responsive {
    max-width: 100%;
  }
}
.swdmoregoods .swdthumb-class {
  cursor:pointer;
}
.swdmoregoods .swd-md-2 .swdthumb-class {
  overflow:visible;
  cursor:pointer;
}
.swdmoregoods .swdthumb-class:hover {
  box-shadow:0px 2px 4px 4px rgba(34, 60, 80, 0.1);
}
.swdmoregoods .swdthumb-class .image {
  text-align:center;
  padding-top:6px;
}
.swdmoregoods .caption h4 {
  height:32px;
}
.swdmoregoods .swdthumb-class .caption {
  padding:0 22px;
  min-height:64px;
  margin-bottom:4px;
}
.swdmoregoods .caption p {
  line-height:18px;
}
.swdmoregoods .product-thumb .price {
  color:#444;
  margin-bottom:0;
  font-size:14px;
  font-weight:600;
}
.swdmoregoods .product-thumb .price-tax {
  font-weight:500;
}

.swdmoregoods .swd-md-2 .caption {
  padding:0 16px;
}
.swdmoregoods .swd-md-2 .caption p {
  font-size:11px;
  line-height:16px;
}
.swdmoregoods .swd-md-2 p.price {
  color:#444;
  margin-bottom:0;
  font-size:14px;
  font-weight:600;
}
.swdmoregoods .swd-md-2 .price-tax {
  font-weight:500;
}
.swdmoregoods .text-not {
  text-align:center;
  font-weight:600;
  color:#bebebe;
  margin-top:10px;
  margin-bottom:2px;
}
@media (max-width: 412px) {
  .swdmoregoods .product-layout {
    border-bottom:1px solid rgba(34, 60, 80, 0.06);
  }
  .swdmoregoods .product-layout,
  .swdmoregoods .product-layout.swd-md-4  {
    padding:10px 22px;
  }
}
.swdload-gif img {
  margin-bottom:10px;
}
.btn-swdmoregoods {
  margin-top:26px;
  margin-bottom:38px;
}
.btn-swdmoregoods .btn {
  font-size:16px;
  padding:7px 16px
}
.btn-swdmoregoods .btn-primary {
  background:transparent;
  border:2px solid #ccd8ef;
  color:#74738C;  
}
.btn-swdmoregoods .btn-primary:hover,
.btn-swdmoregoods .btn-primary:focus {
  border-color:#1CB848;
  box-shadow:2px 2px 3px #acacac;
}
.btn-swdmoregoods .btn-primary[disabled],
.btn-swdmoregoods .btn-primary[disabled]:hover,
.btn-swdmoregoods .btn-primary[disabled]:focus {
  background-color:#eaeaea;
}
.swdmoregoods h3 {
  color:#999;
  text-align:center;
  font-weight: 600;
  font-family: inherit;
  _font-size:13px;
  margin-bottom:8px;
}